 /* .ph{
  background-color: blue;
}

.input-fields{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 370px;
  padding: 10px;
  background-color: rgb(69, 187, 255);
}

.details{
  display: flex;
  flex-direction: column;
  background-color: rgb(88, 255, 97);
  align-items: center;
  border-radius: 15px;
  padding: 10px;
  width: 300px;
  gap: 6px;
}  */